<br>
<h1>Login</h1>
<br>

<%= form_tag sessions_path do |form| %>
  <div class="form-control">
    <%= label_tag :email, 'Email', class:'col-sm-3' %>
    <%= text_field_tag :email,nil, class:'col-sm-7' %>
  </div>
  <div class="form-control">
    <%= label_tag :password, 'Password', class:'col-sm-3' %>
    <%= password_field_tag :password, nil, class:'col-sm-7' %>
  </div>
    <br>
  <div class="actions">
    <%= submit_tag "Login", class:'btn btn-primary' %>
  </div>
<% end %>
